// $bodyBackground: #353535;
// $white: #ffffff;
// $gray: #434343;
// $darkGray: #282828;
// $darkGrayHover: #1b1b1b;
// $shadowGray: #2F2F2F;
$lightGray: #9a9a9a;
$bodyBackground: #EDEEF0;
$white: #000000;
$gray: #d8d8d8;
$darkGray: #cacaca;
$darkGrayHover: #dadada;
$shadowGray: #e2e2e2;

$pg4: 4px;
$pg8: 8px;
